.edit-user {
    background-color:white;
    /*padding: 20px 0;*/
    padding-top: 20px;
}
.edit-user select, .edit-user input {
    border: 1px solid lightgrey;
    /*width: 350px;*/
}
.signup-box .form-validate {
    position: relative;
    bottom: 20px;
    left: 0;
}